@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
.listingdiv {
  margin-top: 10px;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: left;
      align-content: left;
  border-radius: 3px;
}

.listingitem {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 22vh;
  padding: 5px 10px 5px 10px;
  margin-bottom: 5px;
}

.listingimage {
  text-align: center;
  display: inline-block;
  position: relative;
}

.listingimage .imagediv {
  display: inline;
}

.image {
  height: 10em;
}

.detailcontainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.commentsbox-sm {
  display: none;
}

.listcontainer, .bidcontainer {
  padding: 10px;
}

img {
  max-width: 100%;
}

.bidform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bidform input {
  margin: 10px;
}

.btn-primary {
  width: 100%;
  max-width: 120px;
}

.commentsbox, .commentsbox-sm {
  padding: 10px;
  margin: 20px;
  border: 2px solid grey;
  border-radius: 3px;
}

.loginparent {
  text-align: center;
  margin-top: 20px;
}

.loginparent .loginblock {
  width: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 600px;
  display: inline-block;
  padding: 20px;
  border-radius: 3px;
}

.loginparent .loginblock div {
  margin-top: 10px;
}

.loginblock .form-control {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.commentblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  max-width: 90vh;
}

.commentbtn {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 800px) {
  .listingdiv {
    margin-top: 10px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .listingdiv .listingitem {
    height: auto;
  }
  .desc {
    display: none;
  }
  .detailcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .detailcontainer .commentsbox {
    display: none;
  }
  .commentsbox-sm {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */