body {font-family:arial,sans-serif}

#sbutton {
    align-self: center;
    position: relative;
}

.container {
    display:flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.buttoncontainer {
    display:flex;
    justify-content: center;
    min-height: 10vh;
    align-items: center;
}
.searchform {
    border-radius: 25px;
    display:flex;
    min-width: 500px;
    justify-content: center;
    align-items: center;
}
@media (max-width: 500px) {
        .searchform {
            width:300px;
        }
    }
.btn {
    margin: 10px;

}
.btn:hover {
    
    border: 1px solid #d0d0d0;
} 

.navbar-nav { 
    margin-left: auto; 
} 

.adv-title {
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px groove whitesmoke;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .newcontainer {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    float: left;
    height: 3em;
  }

  .adv-button {
    float: right;
    padding-right: 0px;
  }
  
  .label-w {
    margin-bottom: 20px;
    width: 12em;
    height: 100%;
    float: left;
    line-height: 2em;
    font-size: 14px;
  }
  
  .input-w {
    margin-bottom: 20px;
    float: none; /* key */
    width: auto; /* key */
    height: 100%;
    overflow: hidden; /* key */
  }
  
  .input-w input {
    width: 100%;
    height: 100%;
  }

  .newcontainer .item-bigtext {

    padding-bottom: 20px;
    font-size: 16px;
}