{% extends "auctions/layout.html" %}

{% block body %}

<div class="headcontainer bidcontainer">
    <h3><strong>Title:</strong>  {{ listing.title }}</h3>
    <p>Add a new comment</p> 
</div>

<form action="{% url 'auctions:addcomment' listing.id %}" method="post">
    {% csrf_token %}
    <div class="commentblock">
        <textarea class="form-control" name="commenttext" rows="3"></textarea>
        <div class="commentbtn">
            <div>
                <input type="submit" class="btn btn-primary" value="Add Comment">
            </div>
        </div>
    </div>
</form>



{% endblock %}