{% extends "auctions/layout.html" %}

{% block body %}
<div class="headcontainer bidcontainer">
    <h2> Create a new Listing </h2>
</div>

<form action="{% url 'auctions:addlisting' %}" method="post">
    {% csrf_token %}
    <div class="commentblock">
        <div>
            <input class="form-control" type="text" name="title" placeholder="Enter Listing title">
        </div>
        <div>
            <textarea class="form-control" name="description" placeholder="Enter Description" rows="3"></textarea>
        </div>
        <div>
            <input class="form-control" type="text" name="imageurl" placeholder="Enter Image URL (optional)">
        </div>
        <div>
            <input class="form-control" type="number" min="1" step="any" name="initialprice" placeholder="Enter Starting Price">
        </div>
        <div class="dropdown">
            <label for="listingcatagory">Select Catagory:</label>
            <select class="form-select form-select-md mb-3" id="listingcatagory" name="catagory">
                <option selected value="---">
                    ---
                </option>
                {% for catagory in catagories %}
                    <option value="{{ catagory.id }}">
                        {{ catagory }}
                    </option>
                {% endfor %}
            </select>
        </div>
        
        <div class="commentbtn">
            <div>
                <input type="submit" class="btn btn-primary" value="Add Listing">
            </div>
        </div>
    </div>
</form>

{% endblock %}