{% extends "auctions/layout.html" %}

{% block body %}
        <div>
            <h2>Active Listings</h2>
        </div>
    {% for listing in all_listings %}
        {% if listing.bidinprogress or sourcenotindex %}
            <div class="listingdiv">
                <div class="listingitem">
                    <h3><a href="{% url 'auctions:listing' listing_id=listing.id %}">{{ listing.title }}</a></h3>
                    created by: {{ listing.author }}
                    {% if listing.currentprice == None %}
                        <p>Current Price: {{ listing.initialprice }}</p>
                    {% else %}
                        <p>Current Price: {{ listing.currentprice }}</p>
                    {% endif %}
                </div>
                <div class="listingitem desc">
                    <p><strong>Description: </strong>{{ listing.description }}</p>
                </div>
                <div class="listingitem listingimage">
                    <div class="imagediv">
                        {% if listing.imageurl is None %}
                        <span>Image not available</span>
                        {% else %}
                        <a href="{{ listing.imageurl }}">
                            <img class="image" src="{{ listing.imageurl }}" >
                        </a>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
        {% endif %}
    {% empty %}
        <p>There are no listings to display</p>
    {% endfor %}
    
{% endblock %}