{% extends "auctions/layout.html" %}

{% block body %}
<div class="headcontainer bidcontainer">
    <h3><strong>Title:</strong>  {{ listing.title }}</h3>
    <p>posted by: <strong>{{ listing.author }}</strong></p>
    <p>Catagory: <strong>{{ listing.catagory.catagoryname }}</strong></p>
</div>
<div class="detailcontainer">
    <div class="bidcontainer">
        <div class="topbar">
            <div>
                <h3>Bids</h3>
            </div>
            {% if  listing.author == request.user and listing.bidinprogress %}
            <div>
                <form action="{% url 'auctions:closebid' listing.id %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-warning" type="submit" value="Close Bid">
                </form>
            </div>
            {% endif %}
        </div>
        
        <p><strong>Initial Price: USD {{ listing.initialprice }}</strong></p>
        {% ifnotequal maxbid None %}
            {% if maxbid.biduser == request.user %}
                <p> You have made the highest bid currently</p>
            {% endif %}
            <p> <strong>Highest Bid Amount: USD {{ maxbid.bidamount }}</strong></p>
        {% else %}
            <p> There are no bids on this Listing</p>
        {% endifnotequal %}

        {% if user.is_authenticated %}

            {% if listing.bidinprogress %}
                {% if  listing.author != request.user %}
                    <div >
                        {% if bid_msg is not None %}
                            <p>{{ bid_msg }}</p>
                        {% endif %}
                        <form class="bidform" action="{% url 'auctions:newbid' listing.id %}" method="post">
                            {% csrf_token %}
                            <input class="form-control" type="number" min="1" step="any" name="newbidamount" placeholder="New Bid amount">
                            <input class="btn btn-primary" type="Submit" value="Add Bid">
                        </form>
                    </div>
                {% endif %}
            {% else %}
                {% if maxbid.biduser == request.user %}
                    <p><strong>Congratulations!! You have won this item</strong></p>
                {% else %}
                    <p><strong>Bidding is closed for this item</strong></p>
                {% endif %}
            {% endif %}
        {% endif %}        
    </div>

    <div class="commentsbox">
        <div class="topbar">
            <div>
                <h4>Comments</h4>
            </div>
            {% if listing.bidinprogress and user.is_authenticated %}
            <div>
                <a class="btn btn-secondary" href="{% url 'auctions:addcomment' listing.id %}"><strong>+</strong></a>
            </div>
            {% endif %}
        </div>
        <div>
            {% if not comments %}
                <p> There are no comments on this Listing</p>
            {% else %} 
                {% for c in comments %}
                    <p>{{ c.commentdate }} : {{ c.commentuser }} says: <i>{{ c.comment }}</i></p>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="listcontainer">
        <div class="listingdesc">
            <h4>Description</h4>
            <p>{{ listing.description }}</p>
        </div>
        <div class="listimage">
            <img src="{{ listing.imageurl }}" alt="Image not available">
        </div>
    </div>

    <div class="commentsbox-sm">
        <div class="topbar">
            <div>
                <h4>Comments</h4>
            </div>
            {% if listing.bidinprogress and user.is_authenticated %}
            <div>
                <a class="btn btn-secondary" href="{% url 'auctions:addcomment' listing.id %}"><strong>+</strong></a>
            </div>
            {% endif %}
        </div>
        <div>
            {% if not comments %}
                <p> There are no comments on this Listing</p>
            {% else %} 
                {% for c in comments %}
                    <p>{{ c.commentdate }} : {{ c.commentuser }} says: <i>{{ c.comment }}</i></p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    
</div>
{% endblock %}